{% extends "base.html" %}
{% block content %}

<h3>Book Package</h3>

<h5>{{ package[1] }}</h5>
<p>Price: ${{ package[2] }}</p>

<form method="POST">

<input class="form-control mb-3"
       name="name"
       placeholder="Your Name"
       required>

<input class="form-control mb-3"
       type="email"
       name="email"
       placeholder="Email"
       required>
<div class="mb-3">
    <label>Start Date</label>
    <input type="date" name="start_date" class="form-control" required>
</div>

<div class="mb-3">
    <label>End Date</label>
    <input type="date" name="end_date" class="form-control" required>
</div>



<button class="btn btn-primary">
Proceed to Payment
</button>

</form>

{% endblock %}

